.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 0.10%;
}

.header-content {
  display: flex;
  align-items: center;
}

.logo {
  height: 150px; /* Ajusta el tamaño según sea necesario */
  margin-right: 20px;
}

.nav-menu {
  display: flex;
  gap: 15px; /* Espaciado entre los enlaces */
}

.nav-menu a {
  text-decoration: none;
  color: #2c3e50;
  font-size: 18px;
  padding: 10px;
  transition: color 0.3s;
}

.nav-menu a:hover {
  color: #7f8c8d;
}
